.intro_img {
    width: fit-content;
    margin-inline: auto;
}

.intro {
    background: var(--dark-violet);
}

.intro_content {
    color: white;
    text-align: center;
    padding: calc(var(--desktop-pad-b) * 4) var(--mobile-pad-i);
    display: grid;
    row-gap: 1rem;
    justify-items: center;
    position: relative;
}

.intro_content::before,
.intro_content::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
}

.intro_content::before {
    background:
        url("/images/bg-pattern-intro-left-mobile.svg") 
        no-repeat;
}

.intro_content::after {
    background:
        url("/images/bg-pattern-intro-right-mobile.svg") 
        no-repeat 
        bottom right;
    transform: translateY(10rem);
}

.title {
    font-family: var(--ff-display);
    font-size: calc(var(--fs) * 2.875);
    font-weight: 400;
    line-height: 1;
    position: relative;
}

.description {
    line-height: 1.75;
    max-width: 70ch;
}

.view_plans_btn {
    background-color: transparent;
    border: 2px solid white;
    padding: .375rem 2rem;
    margin-block-start: .75rem;
    color: white;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    .intro {
        background-color: var(--dark-violet);
        padding-inline: var(--desktop-pad-i);
        margin-block-end: 9rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: relative;
    }

    .intro_img {
        flex: 1;
        position: relative;
        top: 6rem;
    }

    .intro_content {
        position: unset;
        text-align: left;
        justify-items: flex-start;
        padding-block: 1.5rem 3rem;
        padding-inline: 0;
        row-gap: 1rem;
        flex: 1;
    }

    .intro_content::before {
        background:
            url("/images/bg-pattern-intro-right-desktop.svg") 
            no-repeat
            top right;
    }

    .intro_content::after {
        background: 
            url("/images/bg-pattern-intro-left-desktop.svg") 
            no-repeat
            bottom left;
        transform: translateY(21rem);
    }

    .title {
        font-family: var(--ff-display);
        font-size: calc(var(--fs) * 4.25);
        padding-right: 3rem;
    }

    .title::before {
        content: "";
        position: absolute;
        border: 1px solid white;
        width: 9.5rem;
        top: calc(var(--desktop-pad-b) * -2.75);
    }

    .view_plans_btn {
        margin-block-start: .5rem;
        font-weight: var(--fw-karla-bold);
        transition: all .125s ease-in-out;
    }

    .view_plans_btn:hover {
        background-color: white;
        color: var(--dark-violet);
        cursor: pointer;
    }
}